<ion-view title="商城地图" class="stoermap" >
    <ion-nav-buttons side="left">
      <a class="button button-icon ion-ios-arrow-back" href="#/tab/home">返回</a>
    </ion-nav-buttons>
      <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-android-share-alt" ng-disabled="showShare" ng-click="share()"></button>
    </ion-nav-buttons>
<div class="content">
	<div class="component">
	  <p style="position:fixed;z-index:9999;height:50px;color:red; width:90px; vertical-align: middle;text-align:center;border: 1px solid blue;" ng-click="godetail()">店铺1</p>
		<img class="resize-image" src="img/map7.png" alt="image for resizing">		
	</div>

</div>
</ion-view>