<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-stable tabs-color-positive" >

    <!-- Dashboard Tab -->
    <ion-tab title="商城" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

      <!-- Account Tab -->
    <ion-tab title="特价" icon-off="ion-ios-pricetag-outline" icon-on="ion-ios-pricetag" href="#/tab/thread">
        <ion-nav-view name="tab-thread"></ion-nav-view>
    </ion-tab>
    
    <!-- Chats Tab -->
    <ion-tab title="社区" badge="13" badge-style="badge-positive" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/article">
        <ion-nav-view name="tab-article"></ion-nav-view>
    </ion-tab>

  

    <ion-tab title="设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/user">
        <ion-nav-view name="tab-user"></ion-nav-view>
    </ion-tab>


</ion-tabs>
